services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: publicrata
      POSTGRES_PASSWORD: publicrata
      POSTGRES_DB: publicrata
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
