services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: publicratos
      POSTGRES_PASSWORD: publicratos
      POSTGRES_DB: publicratos
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
